/* app global css */

@media only screen and (min-width: 2090px) and (min-height: 1039px) {
    .scale-container {
        overflow: hidden;
    }
}

:root {
    --fgcolor: #efefef;
    --bgcolor: #ddd;
    --primary: #3E7BFA;
}

body {
    background-color: var(--bgcolor);
}

#header-inner {
    background-color: #fdfdfd;
    color: black;
    display: flex;
    flex-direction: row;
    height: 50px;
}
#middle {
    background-color: var(--bgcolor, lightblue);
    column-gap: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 20px;
}
#form {
    background-color: var(--fgcolor, plum);
    display: flex;
    flex-direction: column;
    flex-grow: 0.5;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
}
#form-title {
    font-family: "Roboto", sans-serif;
    color: var(--q-prose);
    font-size: 1.6rem;
    font-weight: 400;
    margin-top: 0px;
}
#form-content {
    background-color: var(--fgcolor, lightslategray);
    flex-grow: 1;
    padding-bottom: 30px;
}
#form-button-bar {
    align-items: center;
    background-color: var(--fgcolor, khaki);
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-height: 80px;
    min-height: 80px;
}
#preview-drawer, #preview-static {
    background-color: var(--fgcolor, limegreen);
    display: flex;
    flex-direction: column;
    flex-grow: 0.5;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    border-radius: 0px 7px 7px 0px;
}
#preview-button-close {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-height: 80px;
    min-height: 80px;
}
#preview-content {
    background-color: var(--fgcolor, lightcoral);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
#preview-button-bar {
    align-items: center;
    background-color: var(--fgcolor, darkorange);
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-height: 80px;
    min-height: 80px;
}
#footer-inner {
    background-color: deepskyblue;
    display: flex;
    flex-direction: column;
    height: 50px;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
}
#logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 16px;
    width: 245px;
}

@font-face {
    font-family: "Roboto";
    src: url("./fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Roboto Condensed";
    src: url("./fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf");
}

@font-face {
    font-family: "Roboto Mono";
    src: url("./fonts/Roboto_Mono/static/RobotoMono-Regular.ttf");
}

p,
body {
    font-family: "Roboto Condensed", sans-serif;
}

.question {
    font-family: "Roboto Condensed", sans-serif;
    color: var(--q-prose);
    font-size: 1.1rem;
    font-weight: 400;
    margin-top: 12px;
    margin-bottom: 7px;
    line-height: normal;
}
.subquestion {
    font-family: "Roboto Condensed", sans-serif;
    color: var(--q-prose);
    font-size: 1.1rem;
    font-weight: 400;
    margin: 0px;
    line-height: normal;
    font-size: 0.9rem;
}
.finish-paragraph {
    font-family: "Roboto Condensed", sans-serif;
    color: var(--q-prose);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: normal;
}

pre,
.mono {
    font-family: "Roboto Mono", sans-serif;
}

.red-border {
    border-color: #c10015;
    border-width: 2px;
}
