/* app global css */

@media only screen and (min-width: 2090px) and (min-height: 1039px) {
    .scale-container {
        overflow: hidden;
    }
    #app {
        transform: scale(1.1);
    }
}

:root {
    --fgcolor: #efefef;
    --bgcolor: #ddd;
}

body {
    background-color: var(--bgcolor);
}

#app {
    background-color: var(--bgcolor, tan);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100vh;
    row-gap: 20px;
}
#header-outer {
    background-color: var(--bgcolor, rosybrown);
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#header-inner {
    background-color: purple;
    color: white;
    display: flex;
    flex-direction: row;
    max-height: 50px;
    min-height: 50px;
    width: 1900px;
}
#middle {
    background-color: var(--bgcolor, lightblue);
    column-gap: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 20px;
}
#metroline {
    background-color: var(--fgcolor, lightgreen);
    max-height: 1000px;
    min-height: 500px;
    width: 250px;
    overflow: auto;
    border-radius: 7px 0px 0px 7px;
}
#form {
    background-color: var(--fgcolor, plum);
    display: flex;
    flex-direction: column;
    flex-grow: 0.5;
    max-width: 800px;
    min-height: 400px;
    min-width: 800px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
}
#form-title {
    background-color: var(--fgcolor, tomato);
    height: 120px;
}
#form-content {
    background-color: var(--fgcolor, lightslategray);
    flex-grow: 1;
    max-height: 600px;
    min-height: 600px;
    padding-bottom: 30px;
}
#form-button-bar {
    align-items: center;
    background-color: var(--fgcolor, khaki);
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-height: 80px;
    min-height: 80px;
}
#preview {
    background-color: var(--fgcolor, limegreen);
    display: flex;
    flex-direction: column;
    flex-grow: 0.5;
    max-width: 600px;
    min-height: 400px;
    min-width: 600px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    border-radius: 0px 7px 7px 0px;
}
#preview-content {
    background-color: var(--fgcolor, lightcoral);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-height: 720px;
    min-height: 300px;
}
#preview-button-bar {
    align-items: center;
    background-color: var(--fgcolor, darkorange);
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-height: 80px;
    min-height: 80px;
}
#footer-outer {
    background-color: var(--bgcolor, slateblue);
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#footer-inner {
    background-color: deepskyblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 50px;
    min-height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    width: 1900px;
}
#logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 16px;
    width: 245px;
}

@font-face {
    font-family: "Roboto";
    src: url("./fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Roboto Condensed";
    src: url("./fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf");
}

@font-face {
    font-family: "Roboto Mono";
    src: url("./fonts/Roboto_Mono/static/RobotoMono-Regular.ttf");
}

p,
body {
    font-family: "Roboto Condensed", sans-serif;
}

.page-title,
.finish-title {
    font-family: "Roboto", sans-serif;
    color: #333;
    font-size: 1.4rem;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 60px;
}
.question {
    font-family: "Roboto Condensed", sans-serif;
    color: #333;
    font-size: 1.1rem;
    font-weight: 400;
    margin-top: 12px;
    margin-bottom: 7px;
}
.finish-paragraph {
    font-family: "Roboto Condensed", sans-serif;
    color: #333;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: normal;
}

pre,
.mono {
    font-family: "Roboto Mono", sans-serif;
}

.red-border {
    border-color: #c10015;
    border-width: 2px;
}
