/* app global css */

@media only screen and (min-width: 2090px) and (min-height: 1039px) {
    .scale-container {
        overflow: hidden;
    }
}

:root {
    --fgcolor: #efefef;
    --bgcolor: #ddd;
    --white: #efefef;
}

body {
    background-color: var(--bgcolor);
    color: #333;
    font-family: "Inter", sans-serif;
    font-size: 14pt;
}

#main-block {
    max-width: 1044px;
    min-height: 500px;
    position: relative;
}

#preview-block {
    max-width: 600px;
}

#header {
    background-color: #f8f8f8;
}

#footer {
    background-color: #b3c5db;
}

a:not(.q-btn) {
    color: var(--q-primary);
    text-decoration: none
}

a:not(.q-btn):hover{
    text-decoration: underline
}

.elevated {
    box-shadow: 0px 8px 22px -6px rgba(24, 39, 75, 0.12), 0px 14px 64px -4px rgba(24, 39, 75, 0.12);
}

.floating-preview-button {
    position: absolute;
    top: 16px;
    right: 16px;
}

.rounded-borders {
    border-radius: 10px;
}

.bg-formcard {
    background-color: #f8f8f8;
    border-radius: 5px;
}

h1 {
    font-size: 32pt;
    font-weight: bold;
}
h2 {
    font-size: 26pt;
}
h3 {
    font-size: 22pt;
}
h4 {
    font-size: 20pt;
}
h1, h2, h3, h4 {
    line-height: normal;
    margin: 1rem 0rem;
}

.q-drawer {
    background-color: transparent !important;
}

@font-face {
    font-family: "Inter";
    font-weight: 400;
    src: url("./fonts/Inter/Inter-Regular.ttf");
}

@font-face {
    font-family: "Inter";
    font-weight: bold;
    src: url("./fonts/Inter/Inter-Bold.ttf");
}

@font-face {
    font-family: "Fira Code";
    src: url("./fonts/Fira_Code/FiraCode-Regular.ttf");
}

p,
body {
    font-family: "Inter", sans-serif;
}

.cffstr {
    font-family: "Fira Code", monospace;
    font-size: 11pt;
}

.red-border {
    border-color: #c10015;
}
