/* app global css */

:root {
    --fgcolor: #efefef;
    --bgcolor: #303030;
}

body {
    background-color: var(--bgcolor);
}

#app {
    background-color: var(--bgcolor, tan);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100vh;
    row-gap: 7px;
}
#header-outer {
    background-color: var(--bgcolor, rosybrown);
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#header-inner {
    background-color: purple;
    color: white;
    display: flex;
    flex-direction: row;
    max-height: 50px;
    min-height: 50px;
    width: 1900px;
}
#middle {
    background-color: var(--bgcolor, lightblue);
    column-gap: 12px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 20px;
}
#metroline {
    background-color: var(--fgcolor, lightgreen);
    flex-grow: 0.5;
    max-height: 1000px;
    max-width: 300px;
    min-height: 500px;
    min-width: 250px;
    overflow: auto;
}
#form {
    background-color: var(--fgcolor, plum);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 900px;
    min-height: 400px;
    min-width: 600px;
}
#form-title {
    background-color: var(--fgcolor, tomato);
    height: 120px;
    padding-left: 30px;
    padding-right: 30px;
}
#form-content {
    background-color: var(--fgcolor, lightslategray);
    flex-grow: 1;
    max-height: 600px;
    min-height: 580px;
    overflow: auto;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;

}
#form-button-bar {
    align-items: center;
    background-color: var(--fgcolor, khaki);
    display: flex;
    flex-direction: row;
    justify-content: center;    
    max-height: 80px;
    min-height: 80px;
    padding-left: 30px;
    padding-right: 30px;
}
#preview {
    background-color: var(--fgcolor,limegreen);
    display: flex;
    flex-direction: column;
    flex-grow: 0.5;
    max-width: 600px;
    min-height: 400px;
    min-width: 400px;
}
#preview-content {
    background-color: var(--fgcolor, lightcoral);
    flex-grow: 1;
    max-height:720px;
    min-height: 300px;
    overflow: auto;
}
#preview-button-bar {
    align-items: center;
    background-color: var(--fgcolor, darkorange);
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-height: 80px;
    min-height: 80px;
}
#footer-outer {
    background-color: var(--bgcolor, slateblue);
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#footer-inner {
    background-color: deepskyblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 50px;
    min-height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    width: 1900px;
}

@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('./fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf');
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('./fonts/Roboto_Mono/static/RobotoMono-Regular.ttf');
}


p, body {
    font-family: 'Roboto Condensed', sans-serif;
}

.page-title, .finish-title {
    font-family: 'Roboto', sans-serif;
    color: #333;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: normal;
    margin-top: 60px;
    margin-bottom: 60px;
}
.question {
    font-family: 'Roboto Condensed', sans-serif;
    color: #333;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: normal;
    margin-top: 30px;
    margin-bottom: 10px;
}
.finish-paragraph {
    font-family: 'Roboto Condensed', sans-serif;
    color: #333;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: normal;
}

pre, .mono {
    font-family: 'Roboto Mono', sans-serif;
}

.screen-error {
    padding-top: 10px;
}
