name: Publish

on: # publish when main branch changes
  push:
    branches:
      - main

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        ref: ${{ github.head_ref }}
    - name: Use Node.js 14
      uses: actions/setup-node@v2
      with:
        node-version: '14'
        cache: 'npm'
    - name: Run npm clean-install
      run: npm clean-install
    - name: Run build
      run: npm run build
    - uses: stefanzweifel/git-auto-commit-action@v4
      with:
        commit_message: Update github.io page
        branch: main
        file_pattern: docs/
        commit_user_name: cffinit
        push_options: '--force'
