name: Test

on: # rebuild any PRs and main branch changes
  pull_request:
  push:
    branches:
      - main
      - 'releases/*'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        ref: ${{ github.head_ref }}
    - name: Use Node.js 14
      uses: actions/setup-node@v3
      with:
        node-version: '14'
        cache: 'npm'
    - name: Run npm clean-install
      run: npm clean-install
    - name: Run unit tests
      run: npm run test:unit:ci

  cypress:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        ref: ${{ github.head_ref }}
    - name: Cypress run
      uses: cypress-io/github-action@v4
      with:
        start: npm run dev
        wait-on: 'http://localhost:8080/cff-initializer-javascript/#'
